/public/images
node_modules/
/build
.DS_STORE
.vscode
/src/config.json
/public/gallery

.terraform/
terraform.tfstate.backup

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
