$color_1: #a7a7a7;
$color_2: grey;
$font_family_1: 'Lato', sans-serif;
$background_color_1: white;
$background_color_2: transparent;

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}

@keyframes rain {
  from {
    box-shadow: #2092a9 8px 0, #2092a9 32px -6px, #2092a9 20px 0px;
  }
  to {
    box-shadow: #2092a9 8px 6px, #2092a9 32px 0, #2092a9 20px 6px;
  }
}

@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}

.weather-card {
	margin: 0.5em 5px;
	position: relative;
	overflow: hidden;
	background-color: $background_color_1;
	box-shadow: 0 0 25px 1px rgba(50, 50, 50, 0.1);
	animation: appear 500ms ease-out forwards;
	h1 {
		font-family: $font_family_1;
		font-size: 4em;
		text-align: center;
		color: $color_1;
		animation: title-appear 500ms ease-out 500ms forwards;
		margin: 0 auto;
		width: 50%;
	}
	p {
		font-family: $font_family_1;
		font-weight: 600;
		font-size: 1em;
		color: $color_2;
		bottom: 0;
		text-align: center;
		text-transform: capitalize;
	}
}

.weather-content {
	margin: 1em;
}

.weather-icon {
	position: relative;
	width: 50px;
	height: 50px;
	top: 0;
	float: right;
	margin: 40px 40px 0 0;
	animation: weather-icon-move 2s ease-in-out infinite;
}

.clear {
	margin-right: 60px;
	background: #b6cede;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px, #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
}

.sun {
	background: #ffcd41;
	border-radius: 50%;
	box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
	animation: light 800ms ease-in-out infinite alternate, weather-icon-move 2s ease-in-out infinite;
}

.clouds {
	margin-right: 60px;
	background: #b6cede;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px, #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
}

.rain {
	margin-right: 60px;
	background: #b6cede;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px, #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
}

.thunderstorm {
	margin-right: 60px;
	background: #b6cede;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px, #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
	&:after {
		content: '';
		position: absolute;
		border-radius: 10px;
		background-color: $background_color_2;
		width: 4px;
		height: 12px;
		left: 0;
		top: 31px;
		transform: rotate(30deg);
		animation: rain 300ms ease-in-out infinite alternate;
	}
}

.rainy {
	&:after {
		content: '';
		position: absolute;
		border-radius: 10px;
		background-color: $background_color_2;
		width: 4px;
		height: 12px;
		left: 0;
		top: 31px;
		transform: rotate(30deg);
		animation: rain 300ms ease-in-out infinite alternate;
	}
}
