.App {
  display: block;
  -webkit-font-smoothing: antialiased;
}

.App>*+* {
  margin-top: 1rem;
}

/* autoprefixer: off */
@supports(display:grid) {
  .App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 98%;
    margin: 0 auto;
  }

  .App>*+* {
    margin-top: 0;
  }
}

@media(max-width: 600px) {
  .App {
    display: block;
  }

  .App>*+* {
    margin-top: 1rem;
  }
}