.status-card {
  display: flex;
  width: 100%;
  color: black;
}

.status-card p {
  color: white;
  margin-left: 1em;
  text-align: center;
}

.status-card p.line-name {
  width: 10em;
  height: 2em;
  text-align: center;
}

p.status-card-reason {
  font-size: 14px;
  color: black;
}