.birthday-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 16em;
  overflow: auto;
}
.no-cake {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  min-height: 16em;
  overflow: auto;
}
