.tube-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  background-image: url("../../../../public/images/tube.png");
  min-height: 16em;
}
