.tube-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    background-image: url('tube.png');
    min-height: 16em;
}
