@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

.polaroid-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.polaroid {
  margin: 20px;
  height: 295px;
  width: 290px;
  padding: 15px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 50px rgba(99, 99, 80, 0.8);
  height: 210px;
  width: 260px;
  background-color: white;
}

.polaroid h4 {
  font-family: 'Gochi Hand', cursive;
  color: #2a2b2b;
  margin: 15px 0;
  font-size: 25px;
  text-align: center;
  opacity: 0.75;
}
