header.app-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  height: 1.5em
}

img.left-logo {
  height: 2em;
  border-radius: 0 0px 20px;
}

.right-logo {
  display: flex;
}

.right-logo img {
  height: 1em;
  align-self: center;
}