header.app-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between
}

img.left-logo {
  height: 100%;
  width: 20em;
  border-radius: 0 0px 20px;
}

.right-logo {
  display: flex;
  height: 100px;
  width: 100px;
}

.right-logo img {
  height: 40px;
  align-self: center;
  width: 100px;
}