footer {
  height: 5vh;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 1em;
  right: 1em;
}

footer .dateTime {
  display: inline-flex;
  width: 15em;
  font-size: 1.5em;
}

footer .dateTime .time {
  margin: 0 0.5em 0;
}
