.wifi-password {
  background: url('../../../public/images/wifi-background.jpg');
  background-size: cover;
  padding: 1em;
}

p.wifi-password-text {
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
